*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build/
/captures/
.externalNativeBuild/
.cxx/
# Archivos de salida de compilación
app/build/
# Archivos de configuración de usuario
.idea/
*.apk
*.ap_
*.dex
*.class
*.log
*.hprof
*.orig
*.pyc
*.swp
*.swo
*.tmp
*.bak
*.keystore
# Archivos de sistema
Thumbs.db
# Archivos de Mac
.DS_Store
# Archivos de Windows
Desktop.ini
# Otros
local.properties
